body {
    background-color: #121528;
}

.container-fluid {
    display: grid;
    max-width: auto;
    max-height: auto;
    background-color: #121528;
    padding:0%;
}

.nav-link {
    color: white;
}

.navbar-text {
    color: #e3fafa; 
    font-size: 20px;
}

.card-deck {
    width: 1000px;
    margin: 0 auto; 
    float: none 

}

.topnav-right {
    float: right;
}

.card-body {
    text-align: center;
}

.card {
    background-color: #121528;
    color: white;
    padding-top: 75px;
    padding-bottom: 75px;
}
.center {
    display: block;
    margin-left: 5rem;
    margin-right: auto;
    width: 10%;
}

.main-picture {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}


.d-block {
    width: 100%;
    height: auto;
}


.carousel-inner  {
    width: 800px;
    margin: auto;
}
 
.carousel-caption{
    color: white;
    position: relative;
    left: 0;
    top: 0;
}


.list {
    text-align:left;
    font-size: 25px;
}
.card-img-top {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

#contact {
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 10 auto; 
}

.d-flex {
    background-color: #196177;
    width: 100%;
    height: auto;
}

.product-section {
    background-color: white;
}

.contact-header {
    color: white;
    font-size: 50px;
}

.product-header {
    color:black;
    font-size: 50px;
}

.img-fluid {
    width: 500px;
    margin: auto;
}

.quiz-header {
    color: white;
    font-size: 50px;
}

.quiz-text {
    color: white;
    font-size: 20px;
}

.quiz-btn-container {
    padding-top: 200px;
}

.quiz-btn {
    width: 100%;
    outline: none;
    padding: 15px 0;
    font-size: 14px;
    color: #fff;
    background: #719cfe;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 600;
    cursor: pointer;
}

.benefit-text {
    color: black;
    padding-top: 100px;
}

.contact {
    background-color: #06475f;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.contact_grid_right input[type="text"],
.contact_grid_right input[type="email"],
.contact_grid_right textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #000;
    background: #fff;
    letter-spacing: 1px;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
}

.contact_grid_right textarea {
    min-height: 110px;
    resize: none;
    width: 100%;
}

.contact_grid_right button {
    outline: none;
    padding: 15px 0;
    font-size: 14px;
    color: #fff;
    background: #719cfe;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 600;
    cursor: pointer;
}

footer {
  text-align: right;
  padding: 10px;
  padding-right: 100px;
  background-color: #121528;
  color: white;
}